body
{
    background-color: #eef4ff ;
}

h1
{
    color : #1d4ed8;
    font-size: 2rem;
    font-weight:700;
    font-family: Arial, sans-serif;
    text-align:center;
}

p
{
    color:blue;
    font-size: 36px;
    font-family: Arial, sans-serif;
    text-align:center ;
    margin-bottom:1rem;
    

}

.Class-Par
{
    color:green;
}

#ID-Par
{
    color:Red;
}

.Main-Content
{
    background-color: white;
}

h2{
    color: #1d4ed8;
    font-size:1.6rem;
    font-weight:600;
}

/* links*/
a{
    color: white;
    text-decoration:none;
}

a:visited{
    color: purple;

}

/* images*/
img{
    max-width: 100%;
    height:auto;
    display:block;

}

/* Buttons*/
button{
    display:inline-block;
    padding: 0.8rem 1.6rem;
    border-radius:999px;
    font-weight:700;
    text-align:center;
    border:2px solid transparent;
    cursor:pointer;
}

/* Header & Navigation*/
.site-header{
    background-color:pink;
    position:sticky;
    top:0;
    z-index:1000;

}

.header-inner{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0.8rem 0;
    gap: 1rem;
}

.logo{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0.8rem 0;
    gap: 1rem;
}

.main-nav ul{
    display:flex;
    list-style:none;
    gap:1.5rem;
    align-items:center;

}

.main-nav a{
    font-weight:600;
    padding:0.4rem0.2rem;
    border-bottom: 2px solid transparent;
}

.main-nav a:hover,
.main-nav a:focus
.main-nav a:active{
    border-bottom: 3px solid black;
    text-decoration:none;
}

.main-nav li:first-child a{
    border-right: 1px solid #ccc;
    padding-right:1.5rem;
}
/* Hero Section*/
.hero{
    background:linear-gradient(135deg, #e8f5e9, #ffffff);
    padding:5rem 0;
}

.hero-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:1.5rem;

}

.card{
    background-color: pink;
    padding:1.5rem;
    border-radius:50px;
    box-shadow:0 4px 6px rgba(0,0,0,0,1);
    transition:transition 0.3s ease, box-shadow 0.3s ease;
}



/* Responsive Design*/

/* Tablet*/
@media (max-width: 768px){
    .hero grid{
        grid-template-columns:1fr;
        text-align:center;
    }

    .card-grid{
        grid-template-columns:repeat(2, 1fr);
    }
}

/* Mobile Device*/
@media (max-width: 480px){
    .card-grid{
        grid-template-columns:1fr;
    }
}